@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary: yellow;
  --dark: black;
  --negative: white;
  --hover: rgba(0, 0, 0, 0.6);
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;
  pointer-events: none;
}
.change {
  height: 100vh;
  width: 20%;
  background-color: var(--primary);
  transform: rotateY(90deg);
  animation: show 0.4s ease forwards;
}
@keyframes show {
  to {
    transform: rotateY(0deg);
  }
}
.back {
  height: 100vh;
  width: 10%;
  background-color: var(--primary);
  transform: rotateY(0deg);
  animation: hidden 0.4s ease forwards;
}
@keyframes hidden {
  to {
    transform: rotateY(90deg);
  }
}

main div:nth-of-type(1) {
  animation-delay: 0.1s;
}
main div:nth-of-type(2) {
  animation-delay: 0.2s;
}
main div:nth-of-type(3) {
  animation-delay: 0.3s;
}
main div:nth-of-type(4) {
  animation-delay: 0.4s;
}
main div:nth-of-type(5) {
  animation-delay: 0.5s;
}
main div:nth-of-type(6) {
  animation-delay: 0.6s;
}
main div:nth-of-type(7) {
  animation-delay: 0.7s;
}
main div:nth-of-type(8) {
  animation-delay: 0.8s;
}
main div:nth-of-type(9) {
  animation-delay: 0.9s;
}
main div:nth-of-type(10) {
  animation-delay: 1s;
}

section {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  border: none;
  outline: none;
  padding: 50px 50px;
  margin-left: 20px;
  background: transparent;
  transition: all 0.4s ease-out;
}

a {
  transition: all 0.4s ease;
  color: var(--dark);
  font-size: 27px;
  padding: 20px 20px;
  text-decoration: none;
  transform: scale(1);
}

a:hover {
  color: var(--hover);
}
a:active {
  color: var(--negative);
  transform: scale(0.6);
}

.bottom {
  transform: rotate(45deg) translate(2px, 3px);
  transform-origin: center;
  transition: all 0.4s ease-out;
}
.top {
  transform: rotate(-45deg);
  transform-origin: right;
  transition: all 0.4s ease-out;
}
.medium {
  transform-origin: left;
  transform: rotate(45deg) translate(0px, 0);
  transition: all 0.4s ease-out;
}

.bottom-line {
  transform: rotate(0) translate(0, 0);
  transition: all 0.4s ease-out;
}
.top-line {
  transform: rotate(0) translate(0, 0);
  transition: all 0.4s ease-out;
}
.medium-line {
  transform: rotate(0) translate(0, 0);
  transition: all 0.4s ease-out;
}

.showlink {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  animation: fade 1.2s ease-out 0.6s forwards;
}
@keyframes fade {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.hidelink {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  animation: showl 1.2s ease-out 0.6s forwards;
}
@keyframes showl {
  to {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}